<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Beet Chat</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/bower_components/angularjs/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<script src="js/params.js"></script>


<body class="admin" ng-app="beetchat" ng-controller="main">
    <div class="beetchat" style="color: {{color}}; font-size: {{size}}px; background-image: url({{bgimage}})">
        <div>
            <div class="messages" id="messages">
                <div ng-repeat="message in messages">
                    <p>
                        <span ng-if="message.user !== 1" style="color: {{ message.color }}">></span>
                        {{ message.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="Control-panel">
          <h3> Message </h3>
          <div class="row">
            <form ng-submit="sendMessage() " style="display: flex; flex-grow: 1">
                <input ng-model="message" style="flex-grow: 1"/>
                
            </form>
          </div>

          <h3> Global Settings </h3>
          <div class="row">
            <label> Text color </label>
            <input type="color" ng-model="color" ng-change="updateColor()">
          </div>

          <div class="row">
            <label> Text size </label>
            <input type="range" ng-model="size" ng-change="updateSize()" style="flex-grow: 1">
          </div>

          <div class="row">
            <label> Bg image </label>
            <input ng-model="bgimage" style="flex-grow: 1" ng-change="updateBgImage()"/>
          </div>
    </div>
</body>

</html>
