html{
    -webkit-text-size-adjust: none;
    overflow: hidden;
    height: 100%;
}
body {
    transition: all 0.5s ease;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    height: 100%;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
     -webkit-font-smoothing: antialiased !important;
}
html:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    /*background-image: url('/bg.jpg');*/
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 0;
}



@keyframes tvoff{
  0% {transform: scaleY(1) scaleX(1); background-color: transparent;}
  60% {transform: scaleY(0.002) scaleX(1); background-color: white}
  100% {transform: scaleY(0.002) scaleX(0); background-color: white; background-image: none;}
}

@keyframes tvon{
  0% {transform: scaleY(0.002) scaleX(0); background-color: white; background-image: none;}
  60% {transform: scaleY(0.002) scaleX(1); background-color: white}
  100% {transform: scaleY(1) scaleX(1); background-color: transparent}
}

/*@keyframes glitch{
  0% {text-shadow: -2px 0 red, 2px 0 blue; }
  20% {text-shadow: 0px 5px red, 7px 4 blue;}
  30% {text-shadow: -2px 0 red, 2px 0 blue; }
  40% {text-shadow: 0px 5px red, 7px 4 blue;}
  50% {text-shadow: -2px 0 red, 2px 0 blue; }
  70% {text-shadow: 0px 5px red, 7px 4 blue;}
  90% {text-shadow: -2px 0 red, 2px 0 blue; }
  95% {text-shadow: 0px 5px red, 7px 4 blue;}
  100% {text-shadow: -2px 0 red, 2px 0 blue;}
}*/

#stretchState{
    transform: scaleX(3);
}

#glitchState{
    text-shadow: -2px 0 red, 2px 0 blue;
}

#flipState{
    transform: scaleX(-1);
}

.beetchat{
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: auto 100%;
  background-position: center;
  overflow: hidden;
  position: relative;

}

.general-wrapper{
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  transition: 0.5s ease;
}

.bg-glitcher{
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
}

h2{
    margin: 0;
    font-weight: 300;
    text-align: center;
    transition: 0.5s cubic-bezier(.42, 0, .58, 1);
}

input[type="text"]{
    height: 40px;
    background: rgba(255, 255, 255, 0.11);
    box-sizing: border-box;
    padding-left: 10px;
    color: white;
}

select{
    font-size: 11px !important;
}

input[type="color"]{
    height: 47px;
    width: 29px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input[type="color"]::before{
    content: attr(data-text);
    color: white;
    position: absolute;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]:focus{
    height: 40px;
    background: rgba(255, 255, 255, 0.11);
    border-bottom: 1px solid #a80505;
}


label{
    font-weight: 400;
    margin-right: 30px;
    align-self: baseline;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

.log .messages{
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
}

.log .messages .message p{
    margin: 0;
}

.messages {
    overflow: scroll;
    padding-bottom: 50px;
    -webkit-overflow-scrcoll: touch;
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    overflow: auto;
}

.message p{
    margin: 3px 0px;
    font-weight: 600;
}

.prompt-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: auto 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prompt{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  margin-bottom: 100px;
}




@keyframes text-pointer{
  0% {opacity: 0}
  50% {opacity: 0}
  51% {opacity: 1}
  100% {opacity: 1}
}


.send-message {
    height: 50px;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    border: 1px solid aqua;
}

form{
  flex-grow: 1;
  position: relative;
}
input.message{
    border: none;
    flex-grow: 1;
    border-radius: 0;
    box-sizing: border-box;
    background: transparent !important;
    width: 100%;
    display: block;
    height: 40px;
    color: #fff;
    outline: none;
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 16px;
    padding-left: 10px;
}



input:focus +.blinker{
    display: none;
}

.blinker{
  width: 1px;
  height: 20px;
  background: red;
  position: absolute;
  font-size: 18px;
  top: 26px;
  left: 5px;
  color: white;
  animation-name: text-pointer;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.statusbar{
    position: absolute;
    width: 310px;
    height: 20px;
    top: 52px;
    left: 51px;
    z-index: 10000;
    background-image: url("/statusbar.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

body.watch{
    pointer-events: none;
    background: #29292c;
}

body.admin{
    background: #293140;
}

body.admin .beetchat, body.watch .beetchat{
    width: 350px;
    height: 630px;
    background-color: black;
    border-radius: 4px;
    transform: scale(0.9) translateY(0px);
    box-shadow: 0 24px 54px rgba(0, 0, 0, 0.53);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 20px;
    z-index: 1000;
}

label{
  width: 140px;
  color: white;
  font-size: 13px;
  text-align: right;
}

label span{
  font-size: 8px; opacity: 0.4;
}

input{
  border: none;
  -webkit-apperance: none;
  transition: 0.1s ease;
}



input:focus{
  outline: none;
  background: rgba(255, 255, 255, 0.24);
  border-bottom: 1px solid aqua;
  border: none;
}

input:hover{
  background: rgba(255, 255, 255, 0.24);
}

button{
    display: block;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 4px;
    padding: 6px 13px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    transition: 0.1s ease;
}

button.active{
    background: red;
    color: white;
}

button:hover{
    background: rgba(255, 255, 255, 0.24);
    color: white;
}

.codes{
    color: white;
    padding: 0 80px;
    font-size: 14px;
    font-weight: 500;
}

h4{
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.Control-panel{
  z-index: 1000;
  flex-grow: 1;
  padding: 70px 50px 0px 30px;
  position: relative;
}

.client-status{
    position: absolute;
    top: -137px;
    left: -91px;
    width: 400px;
    height: 400px;
    border-radius: 900px;
    display: block;
    margin-right: 10px;

}

.client-status .label{
    font-weight: 600;
    font-size: 13px;
    position: absolute;
    right: 73px;
    top: 142px;
}


.label{
    color: white;
    font-weight: 400;
    font-size: 13px;
}


.bgoption{
    width: 24px;
    height: 40px;
    cursor: pointer;
    margin-right: 9px;
    border-radius: 3px;
    background: black;
    color: white;
    background-size: auto 100%;
    background-position: center;
    margin-bottom: 10px;
}
.row{
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.bgs-row{
    display: flex;
    flex-grow: 1;
    padding: 0;
}

.status{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}


.column{
    display: flex;
    flex-direction: column;
}
